/*
    This stylesheet is loaded automatically by Wordpress when compiled
    and placed in the root theme directory folder as editor-style.css

    For more info, check out the codex:
    http://codex.wordpress.org/Editor_Style

    Wrap the entire post style inside the TinyMCE selector, as suggested
    here http://codex.wordpress.org/Function_Reference/add_editor_style
*/
body#tinymce.wp-editor {
  font-family: 'Source Sans Pro', 'Open Sans', 'Arial', sans-serif;
}
body#tinymce.wp-editor html, body#tinymce.wp-editor body, body#tinymce.wp-editor div, body#tinymce.wp-editor span, body#tinymce.wp-editor applet, body#tinymce.wp-editor object, body#tinymce.wp-editor iframe,
body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6, body#tinymce.wp-editor p, body#tinymce.wp-editor blockquote, body#tinymce.wp-editor pre,
body#tinymce.wp-editor a, body#tinymce.wp-editor abbr, body#tinymce.wp-editor acronym, body#tinymce.wp-editor address, body#tinymce.wp-editor big, body#tinymce.wp-editor cite, body#tinymce.wp-editor code,
body#tinymce.wp-editor del, body#tinymce.wp-editor dfn, body#tinymce.wp-editor em, body#tinymce.wp-editor img, body#tinymce.wp-editor ins, body#tinymce.wp-editor kbd, body#tinymce.wp-editor q, body#tinymce.wp-editor s, body#tinymce.wp-editor samp,
body#tinymce.wp-editor small, body#tinymce.wp-editor strike, body#tinymce.wp-editor strong, body#tinymce.wp-editor sub, body#tinymce.wp-editor sup, body#tinymce.wp-editor tt, body#tinymce.wp-editor var,
body#tinymce.wp-editor b, body#tinymce.wp-editor u, body#tinymce.wp-editor i, body#tinymce.wp-editor center,
body#tinymce.wp-editor dl, body#tinymce.wp-editor dt, body#tinymce.wp-editor dd, body#tinymce.wp-editor ol, body#tinymce.wp-editor ul, body#tinymce.wp-editor li,
body#tinymce.wp-editor fieldset, body#tinymce.wp-editor form, body#tinymce.wp-editor label, body#tinymce.wp-editor legend,
body#tinymce.wp-editor table, body#tinymce.wp-editor caption, body#tinymce.wp-editor tbody, body#tinymce.wp-editor tfoot, body#tinymce.wp-editor thead, body#tinymce.wp-editor tr, body#tinymce.wp-editor th, body#tinymce.wp-editor td,
body#tinymce.wp-editor article, body#tinymce.wp-editor aside, body#tinymce.wp-editor canvas, body#tinymce.wp-editor details, body#tinymce.wp-editor embed,
body#tinymce.wp-editor figure, body#tinymce.wp-editor figcaption, body#tinymce.wp-editor footer, body#tinymce.wp-editor header, body#tinymce.wp-editor hgroup,
body#tinymce.wp-editor menu, body#tinymce.wp-editor nav, body#tinymce.wp-editor output, body#tinymce.wp-editor ruby, body#tinymce.wp-editor section, body#tinymce.wp-editor summary,
body#tinymce.wp-editor time, body#tinymce.wp-editor mark, body#tinymce.wp-editor audio, body#tinymce.wp-editor video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body#tinymce.wp-editor html {
  line-height: 1;
}
body#tinymce.wp-editor ol, body#tinymce.wp-editor ul {
  list-style: none;
}
body#tinymce.wp-editor table {
  border-collapse: collapse;
  border-spacing: 0;
}
body#tinymce.wp-editor caption, body#tinymce.wp-editor th, body#tinymce.wp-editor td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
body#tinymce.wp-editor q, body#tinymce.wp-editor blockquote {
  quotes: none;
}
body#tinymce.wp-editor q:before, body#tinymce.wp-editor q:after, body#tinymce.wp-editor blockquote:before, body#tinymce.wp-editor blockquote:after {
  content: "";
  content: none;
}
body#tinymce.wp-editor a img {
  border: none;
}
body#tinymce.wp-editor article, body#tinymce.wp-editor aside, body#tinymce.wp-editor details, body#tinymce.wp-editor figcaption, body#tinymce.wp-editor figure, body#tinymce.wp-editor footer, body#tinymce.wp-editor header, body#tinymce.wp-editor hgroup, body#tinymce.wp-editor main, body#tinymce.wp-editor menu, body#tinymce.wp-editor nav, body#tinymce.wp-editor section, body#tinymce.wp-editor summary {
  display: block;
}
body#tinymce.wp-editor h1 {
  font-size: 2.25em;
  font-weight: 600;
}
body#tinymce.wp-editor h2 {
  font-size: 1.68em;
  font-weight: bold;
}
body#tinymce.wp-editor h3 {
  font-size: 1.4em;
  font-weight: bold;
}
body#tinymce.wp-editor em {
  font-style: italic;
}
body#tinymce.wp-editor b,
body#tinymce.wp-editor strong {
  font-weight: bold;
}
body#tinymce.wp-editor p {
  font-size: 1.4em;
  line-height: 1.4em;
  margin-bottom: 6px;
}
body#tinymce.wp-editor .entry-content h1 {
  font-size: 2.25em;
}
body#tinymce.wp-editor .entry-content h2 {
  font-size: 1.68em;
}
body#tinymce.wp-editor .entry-content h3 {
  font-size: 1.4em;
}
body#tinymce.wp-editor .entry-content p {
  font-size: 1.4em;
}
body#tinymce.wp-editor p.wp-caption-text {
  font-size: 1em;
}
body#tinymce.wp-editor ol {
  list-style: decimal inside none;
}
body#tinymce.wp-editor ul {
  list-style: disc inside none;
}
body#tinymce.wp-editor ul,
body#tinymce.wp-editor ol {
  padding: 10px;
  line-height: 1.5em;
}
body#tinymce.wp-editor ul li,
body#tinymce.wp-editor ol li {
  padding-bottom: 4px;
}
body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2 {
  display: block;
  padding: 0.4em 0;
  line-height: 1.3em;
}
body#tinymce.wp-editor a {
  color: #e63d9b;
  word-wrap: break-word;
}
body#tinymce.wp-editor a:hover, body#tinymce.wp-editor a:focus {
  color: #d51b82;
}
body#tinymce.wp-editor .alignleft {
  float: left;
  margin: 15px 28px 28px 0;
  text-align: left;
}
body#tinymce.wp-editor .alignright {
  float: right;
  margin: 15px 0 28px 28px;
  text-align: right;
}
body#tinymce.wp-editor .aligncenter {
  clear: both;
  display: block;
  margin: 15px auto;
  text-align: center;
}
@media (max-width: 620px) {
  body#tinymce.wp-editor .aligncenter,
  body#tinymce.wp-editor .alignright,
  body#tinymce.wp-editor .alignleft {
    width: 100% !important;
  }
}
@media (max-width: 620px) {
  body#tinymce.wp-editor img {
    height: 100%;
    width: 100%;
  }
}
body#tinymce.wp-editor .size-large {
  height: 100%;
  width: 100%;
}
body#tinymce.wp-editor .gallery-columns-2.gallery-size-large {
  padding-bottom: 15px;
}
@media (max-width: 620px) {
  body#tinymce.wp-editor .gallery-columns-2.gallery-size-large .gallery-item {
    width: 100% !important;
  }
}
body#tinymce.wp-editor .gallery-columns-2.gallery-size-large .gallery-item img {
  height: 50%;
  width: 100%;
}
