.vid {

    @include breakpoint(mobile) {
        width: 250px;
        height: auto;
        border-style: none;
    }

    border-style: solid;
    border-color: $urn-purple;
    border-width: 4px;
    overflow: hidden;

    width: 560px;
    height: 315px;
}

.cen {
    text-align: center;
}

.logo {
    width: 165px;
}
