
@include keyframes(fadeIn) {
    from {
        opacity: 0;

    } to {
        opacity: 1;
    }
}

.audioboom-feed {
    text-align: center;

    .load-more {
        padding: 6px;
        margin: 10px;
        width: 20%;

        @include breakpoint(tablet) {
            width: 90%;
        }
    }

    .cards {
        @include display-flex();
        @include flex-flow(row wrap);
        list-style: none;
        justify-content: center;
    }

    .card {
        @include box-shadow(0 7px 11px 0 rgba(0, 0, 0, .24),
                            0 5px 22px 0 rgba(0, 0, 0, .19));
        @include animation(fadeIn ease-in 1);
        @include animation-fill-mode(forwards);
        @include animation-duration(0.5s);
        @include animation-delay(0.2s);
        width: 30%;
        height: 100%;
        margin: 15px;
        opacity: 0;

        @include breakpoint(laptop) {
            width: 100%;
        }

        .boom .small_media {
            display: none; // Hide image in embed
        }

        audio {
            width: 100%;
        }

        button {
            margin-bottom: 15px;
            float: right;

            &.urn-daytime {
                background-color: $urn-daytime-color;
            }

            &.urn-podcasts {
                background-color: $urn-sport-color;
            }

            &.urn-pulse {
                background-color: $urn-news-color;
            }

            &.urn-speech {
                background-color: $urn-culture-color;
            }

            &.urn-after-dark {
                background-color: $urn-after-dark-color;
            }
        }

        .podcast_title,
        p {
            line-height: 1.3em;
            padding: 10px 0;
        }

        .podcast_title {
            font-size: 1.1em;
        }

        .podcast_wrapper {
            padding: 10px;
        }

        img {
            display: block;
            width: 100%;
        }
    }
}
