* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    outline: none;
    padding: 0;
}

body {
    @include body-font;
    background: #F2F2F2;
    color: #272727;
}

.wrapper {
    width: $wrapper-width;

    @include breakpoint(laptop) {
        padding: 0 20px;
        width: $wrapper-width-small;
    }

    @include breakpoint(tablet) {
        width: 100%;
    }

    margin: 0 auto;
}

#page-container {
    background: #FFFFFF;
    box-shadow: 0 0 8px black(0.27);
    padding: $page-padding;
    width: 90%;

    @include breakpoint(desktop) {
        width: 1400px;
    }

    @include breakpoint(laptop) {
        width: 95%;
    }

    @include breakpoint(mobile) {
        width: 100%;
    }

    // Push the page in front of the footer
    position: relative;
    z-index: 2;
}
