* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    outline: none;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    @include body-font;
    background: #f2f2f2;
    color: $body-text-color;
}

#page-wrap {
    @include display-flex;
    @include flex-direction(column);
    min-height: 100%;
}

.wrapper {
    margin: 0 auto;
    width: $wrapper-width;

    @include breakpoint(laptop) {
        padding: 0 20px;
        width: $wrapper-width-small;
    }

    @include breakpoint(tablet) {
        width: 100%;
    }
}

#page-container {
    @include flex(1);
    background: #fff;
    box-shadow: 0 0 8px black(.27);
    position: relative;
    width: 90%;
    z-index: 2;

    @include breakpoint(desktop) {
        width: 1000px;
    }

    @include breakpoint(laptop) {
        width: 95%;
    }

    @include breakpoint(mobile) {
        width: 100%;
    }

}

#listen-now.minimise + #page-container .main-content {
    padding: #{$general-element-spacing + 20px} $general-element-spacing;
}
