* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    outline: none;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    @include body-font;
    background: #f2f2f2;
    color: $body-text-color;
}

#page-wrap {
    @include display-flex;
    @include flex-direction(column);
    min-height: 100%;
}

.wrapper {
    width: $wrapper-width;

    @include breakpoint(laptop) {
        padding: 0 20px;
        width: $wrapper-width-small;
    }

    @include breakpoint(tablet) {
        width: 100%;
    }

    margin: 0 auto;
}

#page-container {
    background: #fff;
    box-shadow: 0 0 8px black(.27);
    @include flex(1);
    padding: $page-padding;
    width: 90%;

    @include breakpoint(desktop) {
        width: 1400px;
    }

    @include breakpoint(laptop) {
        width: 95%;
    }

    @include breakpoint(mobile) {
        width: 100%;
    }

    // Push the page in front of the footer
    position: relative;
    z-index: 2;
}
