
.blog-wrapper {
    padding-top: $general-element-spacing;

    #wp_pagination {
        text-align: center;

        .page_button {
            @include breakpoint(mobile) {
                display: none;
            }

            &::after {
                content: '|';
            }
        }

        .active_page_button {
            color: #5142b8;

            &::after {
                content: '|';
                color: $urn-pink;
            }
        }

        a {
            font-weight: bold;
            text-decoration: none;
          }
    }

    h1.show-title {

        a {
            color: #222;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
