
.blog-wrapper {
    padding: 15px;
    padding-top: $general-element-spacing;
    height: 900px;
    overflow-y: scroll;

    h1.show-title {

        a {
            color: #222;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
