button::-moz-focus-inner {
    border: 0;
}

.btn,
%btn {
    @include body-font;
    @include transition(background 0.15s ease);
    background: $urn-pink;
    cursor: pointer;
    border: 0;
    color: #fff;
    font-size: 0.875em;
    font-weight: 600;
    padding: 2px 12px;
    text-transform: uppercase;

    &:after {
        content: '!';
    }

    &:hover,
    &:focus {
        background: darken($urn-pink, 10%);
        outline: none;
    }

    &:active {
        box-shadow: inset 0 2px 3px -2px black(0.4);
    }
}

%anchor-btn {
    @extend %btn;
    text-decoration: none;
}

.select,
.txt {
    @include transition(box-shadow 0.15s ease);
    background: #f0f0f0;
    border: 1px solid #a8a8a8;
    margin: 0 5px;
    padding: 6px 10px;

    &:focus {
        border-color: $urn-pink;
        box-shadow: 0 0 5px lighten($urn-pink, 15%);
    }
}

.select {
    box-shadow: 0 1px 3px black(0.2);
}

.committee-tag {
    background: $urn-pink;
    color: #fff;
    display: inline-block;
    font-size: 0.75em;
    font-weight: 600;
    margin: 0 5px;
    padding: 2px 4px;
    text-transform: uppercase;

    &:hover,
    &:focus {
        background: darken($urn-pink, 10%);
    }

    &:active {
        box-shadow: inset 0 2px 3px -2px black(0.4);
    }
}



//
// Typography
//

h1,
h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

p {
    line-height: 1.4em;
    margin-bottom: 6px;
}

b {
    font-weight: bold;
}


//
// Alignment
//

.alignleft {
    float: left;
    margin: 7px 28px 28px 0;
}

.alignright {
    float: right;
    margin: 7px 0 28px 28px;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 7px auto;
}


//
// Tabs
//
.tabs {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;

    .tab-title {
        background: #eee;
        border: 1px solid #ddd;
        padding: .7em 1em;
        cursor: pointer;
        z-index: 1;
        margin-left: -1px;

        &:first-of-type {
            margin-left: 0;
        }
    }

    .tab-content {
        width: 100%;
        margin-top: -1px;
        padding: 1em;
        border: 1px solid #ddd;

        @include order(1);

        @include breakpoint(mobile) {
            padding: 0;
        }
    }

    input[type=radio],
    .tab-content {
        display: none;
    }

    input[type=radio]:checked + label {
        background: #fff;
        border-bottom: 1px solid #fff;

        & + div {
            display: block;
        }
    }
}
