#footer {
    background: url(images/purple-noise.png) repeat center;
    box-shadow: inset 0 7px 5px -3px black(0.08);
    color: white(0.8);
    font-size: 0.875em;
    line-height: 1.6;
    margin-top: -#{$footer-overlap};
    overflow: hidden;
    padding-top: #{$footer-overlap + 32px};
    padding-bottom: 32px;
    position: relative;
    z-index: 1;

    @include breakpoint(tablet) {
        line-height: 1.5;
    }

    .wrapper {
        @include display-flex;
        @include flex-direction(row);
        padding: 0 $inner-wrapper-padding;

        @include breakpoint(laptop) {
            // padding: 0 10px;
            width: 95%;
        }

        @include breakpoint(tablet) {
            @include display-flex(block);

            div:first-child br {
                display: none;
            }
        }

        div:last-child {
            @include flex-grow(1);
            text-align: right;

            @include breakpoint(tablet) {
                text-align: left;
            }
        }
    }

    strong {
        color: white;
        font-weight: 600;
    }

    a {
        color: white;
    }
}
