#header {
    background: url('../urn-material/images/banner.png') repeat-x center;
    box-shadow: inset 0 -7px 5px -3px black(.08);
    height: 460px;
    overflow: hidden;

}

#title {
    @include display-flex;
    @include flex-direction(row);
    margin-top: 55px;
    padding: 0 $inner-wrapper-padding;
    position: relative;
    text-decoration: none;

    img {
        @include flex-shrink(0);
        width: $logo-width;

        @include breakpoint(laptop) {
            height: 100%;
            margin-top: #{$logo-width-difference / 4};
            width: $logo-width-small;
        }

        @include breakpoint(mobile) {
            display: block;
            margin: 0 auto;
            width: $logo-width;
        }
    }

    h1 {
        @include flex-grow(1);
        @include title-font;
        color: #fff;
        font-size: 2.25em;
        font-weight: 300;
        margin-bottom: 5px;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;

        @include breakpoint(laptop) {
            font-size: 2em;
            line-height: 1.2;
            margin-top: 40px;
            text-align: left;
            white-space: normal;
        }

        @include breakpoint(mobile) {
            display: none;
        }
    }

    h2 {
        @include flex-grow(1);
        @include title-font;
        color: #fff;
        font-size: 1.0em;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;

        @include breakpoint(laptop) {
            font-size: 1em;
            line-height: 1.2;
            margin-top: 40px;
            text-align: left;
            white-space: normal;
        }

        @include breakpoint(mobile) {
            display: none;
        }
    }

    #titleText{
      height: $logo-height;
      padding-top: $logo-height / 3;
      text-align: center;
      margin: 0 35px;
      margin-left: auto;
      margin-right: auto;
    }

    &:hover,
    &:focus {
        &:after {
            box-shadow: 0 0 160px 130px white(.3);
        }
    }

    // Create a white glow around the logo
    &:after {
        @include transition(box-shadow .15s ease);
        background: transparent;
        border-radius: 50%;
        box-shadow: 0 0 160px 130px white(.2);
        content: '';
        height: 1px;
        left: #{$inner-wrapper-padding + ($logo-width / 2)};
        position: absolute;
        top: #{$logo-height / 2};
        width: 1px;

        @include breakpoint(mobile) {
            left: 50%;
        }
    }
}
