#header {
    background: url('images/banner.png') repeat-x;
    background-position: center;
    box-shadow: inset 0 -7px 5px -3px black(.08);
    height: 460px;
    overflow: hidden;

    @include breakpoint(headerBanner) {
        background-position: left;
    }
}

#title {
    @include display-flex;
    @include flex-direction(row);
    margin-top: 55px;
    padding: 0 $inner-wrapper-padding;
    position: relative;
    text-decoration: none;

    img {
        @include flex-shrink(0);
        width: $logo-width;

        @include breakpoint(laptop) {
            height: 100%;
            margin-top: #{$logo-width-difference / 4};
            width: $logo-width-small;
        }

        @include breakpoint(mobile) {
            display: block;
            margin: 0 auto;
            width: $logo-width;
        }
    }

    h1 {
        @include flex-grow(1);
        @include logo-font;
        color: #fff;
        font-size: 2.8em;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;

        @include breakpoint(laptop) {
            font-size: 2em;
            line-height: 1.2;
            margin-top: 40px;
            text-align: left;
            white-space: normal;
        }

        @include breakpoint(mobile) {
            display: none;
        }
    }

    h2 {
        @include flex-grow(1);
        @include body-font;
        color: #fff;
        font-size: 1em;
        font-weight: 400;
        text-align: center;
        text-shadow: 0 1px 3px black(0.25);
        text-transform: uppercase;
        white-space: nowrap;


        @include breakpoint(tablet) {
            font-size: 1em;
            word-wrap: break-word;
            margin-top: 0;
            padding-top: 0;
            text-align: left;
            white-space: normal;
        }

        @include breakpoint(mobile) {
            display: none;
        }
    }

    #title-text {
        height: $logo-height / 3;
        padding-top: $logo-height / 3;
        margin: 0 auto;

        @include breakpoint(laptop) {
            h1 {
                margin-top: 0;
            }
        }

        @include breakpoint(mobile) {
            display: none;

            h1 {
                width: 100%;
            }
        }

        @include breakpoint(tablet) {
            font-size: 1em;
            word-wrap: break-word;
            margin-left: 35px;
            margin-right: 35px;
            padding-top: 0;
            text-align: left;
            white-space: normal;

            h1 {
                margin-top: 30px;
                width: 75%;
            }
        }

    }

    &:hover,
    &:focus {
        &::after {
            box-shadow: 0 0 160px 130px white(.3);
        }
    }

    // Create a white glow around the logo
    &::after {
        @include transition(box-shadow .15s ease);
        background: transparent;
        // border-radius: 50%;
        // box-shadow: 0 0 160px 130px white(.2);
        content: '';
        height: 1px;
        left: #{$inner-wrapper-padding + ($logo-width / 2)};
        position: absolute;
        top: #{$logo-height / 2};
        width: 1px;

        @include breakpoint(mobile) {
            left: 50%;
        }
    }
}
