.row {
    @include display-flex;
    @include flex-direction(row);

    .module {
        @include flex-grow(1);
        background: #e6e6e6;
        height: 200px;
        margin-top: $general-element-spacing;
        text-align: center;
        width: 100%;

        &:not(:last-child) {
            margin-right: $general-element-spacing;
        }
    }

    .twitter {
        margin-top: $general-element-spacing;
    }

    &.vertical {
        @include flex-direction(column);
        @include flex-grow(1);
        margin-top: $general-element-spacing;
        padding-left: $general-element-spacing;
        width: 0;
    }

    .clip {
        margin-bottom: $general-element-spacing;
    }
}
