.row {
    @include display-flex;
    @include flex-direction(row);
    padding: 0 #{$general-element-spacing * 2};

    @include breakpoint(mobile) {
        @include flex-direction(column);
        padding: 0;
    }

    &:first-child {
        padding-top: #{$listen-now-overlap + $general-element-spacing};
        padding-bottom: $general-element-spacing;
    }

    &:last-child {
        padding-bottom: $general-element-spacing;
        padding-top: $general-element-spacing;
    }

    h1 {
        margin-bottom: 10px;
    }

    .module {
        @include flex-grow(1);
        background: #e6e6e6;
        height: 200px;
        text-align: center;
        width: 100%;

        @include breakpoint(mobile) {
            height: 100%;
            min-height: 100px; // Safari fallback
        }

        &:not(:last-child) {
            margin-right: $general-element-spacing;
        }

        &.blogs {
            padding: 0 10px;

            @include breakpoint(mobile) {
                padding: 35px 0 0;
                margin-bottom: #{$general-element-spacing * 2};
            }

            .blog-excerpt {
                padding-top: #{$general-element-spacing / 2};

                @include breakpoint(mobile) {
                    padding: 0;
                }
            }
        }
    }

    .twitter {
        margin-top: $general-element-spacing;

        // Hide on mobile
        @include breakpoint(mobile) {
            display: none;
        }
    }

    &.vertical {
        @include flex-direction(column);
        @include flex-grow(1);
        width: 0;

        @include breakpoint(mobile) {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }

        > h1 {
            margin-top: #{$general-element-spacing * 1.5};
            margin-bottom: #{$general-element-spacing * 2};

            // Hide on mobile
            @include breakpoint(mobile) {
                display: none;
            }
        }

        .clip {
            // Hide on mobile
            @include breakpoint(mobile) {
                display: none;
            }
        }

        h1:first-child {
            margin-top: 0;
        }
    }

    .clip {
        margin-bottom: $general-element-spacing;
    }
}

.cover-photos {

    // Hide on mobile
    &:first-child .module:nth-child(2) {
        @include breakpoint(mobile) {
            display: none;
        }
    }

    .module {
        text-align: left;
        background: #fff;
        height: 100%;

        // Hide on mobile
        @include breakpoint(mobile) {
            &:last-child {
                display: none;
            }
        }
    }

    //Slideshow styling
    .slideshow {
        position: relative;
        display: block;
        overflow: hidden;

        @include breakpoint(mobile) {
            display: none;
        };
    }

    figure {
        position: absolute;
        opacity: 0;
        display: none; // TEMP
        @include backface-visibility(hidden);
        @include transition(opacity, 1s);

        &.show {
            opacity: 1;
            position: static;
            display: block;// TEMP
            @include backface-visibility(hidden);
            @include transition(opacity, 1s);
      }
    }

    .next,
    .prev {
        color: #fff;
        position: absolute;
        background: rgba(0, 0, 0, 1);
        top: 50%;
        z-index: 1;
        font-size: 2em;
        margin-top: -.75em;
        opacity: .7;
        user-select: none;
    }

    .next:hover,
    .prev:hover {
        cursor: pointer;
        opacity: 1;
    }

    .next {
        right: 0;
        padding: 10px 5px 15px 10px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .prev {
        left: 0;
        padding: 10px 10px 15px 5px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
