@mixin title-font {
    font-family: 'Raleway', sans-serif;
}

@mixin logo-font {
    font-family: 'Milocha', 'Raleway', sans-serif;
}

@mixin body-font {
    font-family: 'Source Sans Pro', 'Open Sans', 'Arial', sans-serif;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
