.notice {
    background: $urn-pink;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    border-bottom: 1px solid darken($urn-pink, 20%);
}
.notice ~ .large-play {
    display: none;
}
