#now-playing {
    @include display-flex;
    @include flex-direction(row);
    padding: 25px 0;
    width: 100%;

    a {
        background: $urn-purple;
        border-bottom-right-radius: $now-playing-bar-border-radius;
        border-top-right-radius: $now-playing-bar-border-radius;
        color: #fff;
        display: block;
        font-weight: 600;
        height: $now-playing-bar-height;
        line-height: #{$now-playing-bar-height - 4px};
        padding: 0 15px 0 35px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;

        &:before {
            background: url('images/play-icon.png');
            content: '';
            height: 68px;
            left: -21px;
            position: absolute;
            top: -21px;
            width: 61px;
        }
    }
}

#now-playing-bar {
    @include flex-grow(1);
    background: #f2f2f2;
    border-bottom-left-radius: $now-playing-bar-border-radius;
    border-top-left-radius: $now-playing-bar-border-radius;
    border: 1px solid #e2e2e2;
    height: $now-playing-bar-height;
    overflow: hidden;
    position: relative;

    span {
        display: block;
        font-size: .75em;
        height: 100%;
        left: 0;
        line-height: #{$now-playing-bar-height - 4px};
        margin-left: 15px;
        position: absolute;
        top: 0;
    }

    strong {
        font-weight: 600;
        margin: 0 5px;
    }
}

#now-playing-progress {
    background: #e2e2e2;
    height: 100%;
}
