$border-color: #fff;
$border-width: 2px;
$day-height: 100px;
$day-name-width: 150px;
$slot-spacing: 4px;
$time-height: 40px;
$time-width: 100px;

.show-photo {
    @include breakpoint(mobile) {
        width: 50%;
        margin: 0 auto;
    }

    img {
        padding: 5px;
        width: 100%;
    }
}

.filter-container {
    margin: 20px 0;

    .schedule-category-select {
        margin-right: 30px;
    }

    label:after {
        content: ':';
    }

    .search-filter-container {
        display: inline-block;
        margin: 10px 0;
    }
}

.schedule {
    @include display-flex;
    @include flex-direction(row);
    position: relative;

    @include breakpoint(mobile) {
        .inline-day-name {
            display: block;
            margin-bottom: 5px;
            margin-top: 20px;
        }

        .day-names {
            display: none;
        }

        .days {
            width: 100%;
        }

        .timetable {
            background: none;
            overflow: inherit;
            width: 100%;
        }

        .timetable > .times {
            display: none;
        }

        .slots {
            height: auto;
        }

        .show {
            margin: 4px 0;
            padding: 0;
            position: static;
            width: 100% !important;

            &.live {
                margin: 10px 0;

                a {
                    @include transform(scale(1.05));
                }

                a:after {
                    left: auto;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .btn {
        @include box-shadow(0 1px 8px 0 rgba(0, 0, 0, .24), 0 4px 23px 0 rgba(0, 0, 0, .19));
        position: absolute;
        right: 20px;
        top: 100px;
        z-index: 1;
    }

    .timetable {
        background: black(0.1);
        overflow-x: auto;
        overflow-y: hidden;

        > .times {
            @include display-flex;
            @include flex-direction(row);
            height: $time-height;

            > li:not(.live-indicator) {
                @include flex-shrink(0);
                border-right: $slot-spacing solid $border-color;
                padding: 10px;
                width: $time-width;
            }
        }
    }

    .day-names {
        @include flex-grow(0);
        @include flex-shrink(0);
        margin-top: #{$time-height};
        position: relative;
        width: $day-name-width;
    }

    .days {
        @include flex-grow(1);
        height: 100%;
        width: #{$time-width * 24};
    }

    .day-name {
        display: block;
        font-size: 1.3em;
        height: #{$day-height - $slot-spacing};
        margin-bottom: $slot-spacing;
        padding: 10px 10px 40px;
        text-transform: capitalize;
        width: $day-name-width;

        &:nth-child(odd) {
            background: black(0.1);
        }

        a {
            margin: 10px 0;
            display: inline-block;
            font-size: 0.6em;
            padding: 2px 5px;
            text-decoration: none;
        }
    }

    .slots {
        background: #fff;
        height: #{$day-height};
        position: relative;
        width: 100%;
    }

    .show {
        color: white(0.8);
        cursor: pointer;
        height: 100%;
        padding-bottom: $slot-spacing;
        padding-right: $slot-spacing;
        position: absolute;
        top: 0;

        &.live a {
            @include transform(scale(1.08));
            @include transition(
                background 0.1s ease,
                box-shadow 0.25s ease
            );
            background: darken($urn-pink, 20%);
            box-shadow: 0 0 50px black(0.4);
            color: #fff;
            z-index: 1;

            &:hover,
            &:focus {
                background: $urn-pink;
                box-shadow: 0 0 75px 25px white(0.05);
            }

            &:after {
                background: inherit;
                color: #fff;
                content: 'On Air';
                font-size: 0.75em;
                font-weight: 600;
                height: 18px;
                left: 0;
                line-height: 18px;
                padding: 0 6px;
                position: absolute;
                text-transform: uppercase;
                top: -18px;
            }
        }

        &.dim a {
            opacity: 0.4;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }

        a {
            @include transition(
                color 0.25s ease,
                opacity 0.15s ease
            );
            background: $urn-pink;
            color: inherit;
            display: block;
            height: 100%;
            padding: 6px;
            position: relative;
            text-decoration: none;

            &:hover,
            &:focus {
                background: darken($urn-pink, 6%);
                color: #fff;
            }
        }

        &.after-dark a {
            background: $urn-after-dark-color;

            &:hover,
            &:focus {
                background: darken($urn-after-dark-color, 6%);
            }
        }

        &.culture a {
            background: $urn-culture-color;

            &:hover,
            &:focus {
                background: darken($urn-culture-color, 6%);
            }
        }

        &.daytime a {
            background: $urn-daytime-color;

            &:hover,
            &:focus {
                background: darken($urn-daytime-color, 6%);
            }
        }

        &.news a {
            background: $urn-news-color;

            &:hover,
            &:focus {
                background: darken($urn-news-color, 6%);
            }
        }

        &.sport a {
            background: $urn-sport-color;

            &:hover,
            &:focus {
                background: darken($urn-sport-color, 6%);
            }
        }

        .title {
            font-size: 16px;
            font-weight: 600;
            margin: 0;
        }

        .hosts {
            margin: 5px 0;
            font-size: 0.75em;
            font-weight: 600;

            &:before {
                content: 'Hosts: ';
                font-weight: 400;
                opacity: 0.6;
            }
        }

        .times {
            font-size: 0.75em;
            font-weight: 600;
        }
    }

    .show:first-child {
        left: 30px; //set by js
        width: 280px;
    }

    .show:last-child {
        left: 363px; //set by js
        width: 250px;
    }

    .inline-day-name {
        display: none;
    }
}


.mini-schedule {
    margin-bottom: $general-element-spacing;

    @include breakpoint(mobile) {
        padding: $general-element-spacing;

        .inline-day-name {
            display: block;
            margin: 5px 0;
            padding-top: 20px;
        }
    }

    .day-names {
        display: none;
    }

    .btn {
        // Set button to be bigger on mobile
        @include breakpoint(mobile) {
            right: 0;
            top: 0;
            width: 100%;
        }
    }
}
