

.shows {

    h1 {
        padding-bottom: $general-element-spacing;
        padding-top: $general-element-spacing;
    }

    h2 a {
        color: #111 !important;
        text-decoration: none;
        font-size: 15px;
    }
}
