.show-page-header {
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(left, $urn-purple 0%, transparentize($urn-pink, 0.2) 100%));
    @include filter-gradient($urn-purple, $urn-pink, horizontal);
    background-color: $urn-purple;
    color: #fff;
    padding: #{$listen-now-overlap + 30px} 30px 30px 30px;
    position: relative;
    text-align: center;

    // &.after-dark {
    //     @include filter-gradient($urn-purple, $urn-after-dark-color, horizontal);
    //     @include background-image(linear-gradient(left, $urn-purple 0%, $urn-after-dark-color 70%));
    // }

    // &.culture {
    //     @include filter-gradient($urn-purple, $urn-culture-color, horizontal);
    //     @include background-image(linear-gradient(left, $urn-purple 0%, $urn-culture-color 70%));
    // }

    // &.daytime {
    //     @include filter-gradient($urn-purple, $urn-daytime-color, horizontal);
    //     @include background-image(linear-gradient(left, $urn-purple 0%, $urn-daytime-color 70%));
    // }

    // &.news {
    //     @include filter-gradient($urn-purple, $urn-news-color, horizontal);
    //     @include background-image(linear-gradient(left, $urn-purple 0%, $urn-news-color 70%));
    // }

    // &.sport {
    //     @include filter-gradient($urn-purple, $urn-sport-color, horizontal);
    //     @include background-image(linear-gradient(left, $urn-purple 0%, $urn-sport-color 70%));
    // }

    .titles {
        display: inline-block;
        margin: 0 auto;

        .title-prelude {
            display: block;
            text-align: left;
        }

        .title {
            @include title-font;
            font-size: 4.5em;
            margin: 10px 0;
        }

        .time {
            display: block;
            text-align: right;
        }

        .title-prelude,
        .time {
            font-size: 1.25em;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &:after {
        background: url('images/noise.png');
        content: '';
        height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.show-page-members {
    @include flex-shrink(0);

    .host {
        margin: 10px 0;

        a {
            text-decoration: none;
        }

        .avatar {
            height: 35px;
            margin-right: 5px;
            vertical-align: middle;
            width: 35px;
        }

        .name {
            color: $body-text-color;
            text-decoration: underline;
        }
    }
}

.show-page-external-links a {
    @extend %anchor-btn;
    background: $urn-pink;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 150px;

    &:after {
        content: '';
    }

    &.facebook {
        background-color: $facebook-blue;

        &:hover,
        &:focus {
            background-color: darken($facebook-blue, 10%);
        }
    }

    &.twitter {
        background-color: $twitter-blue;

        &:hover,
        &:focus {
            background-color: darken($twitter-blue, 10%);
        }
    }
}

.show-page-description {
    @include flex-grow(1);
    padding: 10px 15px;
}

.show-page-show-info {
    @include display-flex;
    @include flex-direction(row);
}

.show-page-posts {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
}

.show-page-post {
    header {
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 10px;

        a {
            color: inherit;
            text-decoration: none;

            &:hover,
            &:focus {
                color: darken($body-text-color, 10%);
            }
        }
    }

    footer {
        color: #787777;
        font-size: 0.875em;
        margin-top: 10px;
    }
}
