.show-page-header {
    @include background-image(linear-gradient(left, rgba(105, 56, 159, 1) 0%, rgba(217, 52, 150, 1) 100%));
    @include filter-gradient(#69389f, #d93496, horizontal);
    background-color: rgb(105, 56, 159);
    color: #fff;
    padding: #{$listen-now-overlap + 30px} 30px 30px 30px;
    position: relative;
    text-align: center;

    .titles {
        display: inline-block;
        margin: 0 auto;

        .title-prelude {
            display: block;
            text-align: left;
        }

        .title {
            @include title-font;
            font-size: 4.5em;
            margin: 10px 0;
        }

        .time {
            display: block;
            text-align: right;
        }

        .title-prelude,
        .time {
            font-size: 1.25em;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &:after {
        background: url('images/noise.png');
        content: '';
        height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.show-page-members {
    .host {
        margin: 10px 0;

        a {
            color: inherit;
            text-decoration: none;
        }

        .icon {
            height: 35px;
            margin-right: 5px;
            vertical-align: middle;
            width: 35px;
        }
    }

    h1 {
        font-size: 1.5em;
        font-weight: 600;
    }
}

.committee-tag {
    background: $urn-pink;
    color: #fff;
    display: inline-block;
    font-size: 0.75em;
    font-weight: 600;
    margin: 0 5px;
    padding: 1px 4px 3px;
    text-transform: uppercase;
}
