.show-page-header {
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(left, $urn-purple 0%, $urn-pink 100%));
    @include filter-gradient($urn-purple, $urn-pink, horizontal);
    background-color: $urn-purple;
    color: #fff;
    padding: #{$listen-now-overlap + 30px} 30px 30px 30px;
    position: relative;
    text-align: center;

    // &.after-dark {
    //     @include filter-gradient($urn-purple, $urn-after-dark-color, horizontal);
    //     @include background-image(linear-gradient(left, $urn-purple 0%, $urn-after-dark-color 70%));
    // }

    // &.culture {
    //     @include filter-gradient($urn-purple, $urn-culture-color, horizontal);
    //     @include background-image(linear-gradient(left, $urn-purple 0%, $urn-culture-color 70%));
    // }

    // &.daytime {
    //     @include filter-gradient($urn-purple, $urn-daytime-color, horizontal);
    //     @include background-image(linear-gradient(left, $urn-purple 0%, $urn-daytime-color 70%));
    // }

    // &.news {
    //     @include filter-gradient($urn-purple, $urn-news-color, horizontal);
    //     @include background-image(linear-gradient(left, $urn-purple 0%, $urn-news-color 70%));
    // }

    // &.sport {
    //     @include filter-gradient($urn-purple, $urn-sport-color, horizontal);
    //     @include background-image(linear-gradient(left, $urn-purple 0%, $urn-sport-color 70%));
    // }

    .titles {
        display: inline-block;
        margin: 0 auto;

        .title-prelude {
            display: block;
            text-align: left;
        }

        .title {
            @include title-font;
            font-size: 4.5em;
            margin: 10px 0;
        }

        .time {
            display: block;
            text-align: right;
        }

        .title-prelude,
        .time {
            font-size: 1.25em;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &:after {
        background: url('images/noise.png');
        content: '';
        height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.show-page-members {
    .host {
        margin: 10px 0;

        a {
            text-decoration: none;
        }

        .icon {
            height: 35px;
            margin-right: 5px;
            vertical-align: middle;
            width: 35px;
        }

        .name {
            text-decoration: underline;
            color: $body-text-color;
        }
    }

    h1 {
        font-size: 1.5em;
        font-weight: 600;
    }
}
