$urn-purple: #5E44CB;
$inner-wrapper-padding: 18px;
$page-padding: 35px;

// Header
$logo-width: 175px;
$logo-height: 160px;

// Footer
$footer-overlap: 20px;

// Now Playing
$now-playing-bar-height: 25px;
$now-playing-bar-border-radius: 15px;
