$body-text-color: #272727;
$urn-purple: #5e44cb;
$urn-pink: #e63d9b;
$inner-wrapper-padding: 18px;
$page-padding: 35px;
$wrapper-width: 980px;
$wrapper-width-small: 760px;
$general-element-spacing: 15px;

$urn-after-dark-color: #3b4251;
$urn-culture-color: #ed6346;
$urn-daytime-color: #e50052;
$urn-news-color: #009994;
$urn-sport-color: #009fe3;

// Header
$logo-width: 175px;
$logo-width-small: 155px;
$logo-width-difference: #{$logo-width - $logo-width-small};
$logo-height: 160px;
$listen-now-overlap: 20px;

// Footer
$footer-overlap: 20px;

// Now Playing
$now-playing-bar-height: 25px;
$now-playing-bar-border-radius: 15px;
