$body-text-color: #272727;
$urn-purple: #5e44cb;
$urn-pink: #e63d9b;
$inner-wrapper-padding: 18px;
$page-padding: 35px;
$wrapper-width: 860px;
$wrapper-width-small: 760px;

// Header
$logo-width: 175px;
$logo-width-small: 155px;
$logo-width-difference: #{$logo-width - $logo-width-small};
$logo-height: 160px;

// Footer
$footer-overlap: 20px;

// Now Playing
$now-playing-bar-height: 25px;
$now-playing-bar-border-radius: 15px;
