
//
// These styles are shared with:
// WP Post editor &
// WP Post output
//

ol {
    list-style: decimal inside none;
}

ul {
    list-style: disc inside none;
}

ul,
ol {
    padding: 10px;
    line-height: 1.5em;

    li {
        padding-bottom: 5px;
    }
}

h1,
h2 {
    display: block;
    padding: 0.67em 0;
    line-height: 1.3em;
}

p {
    line-height: 1.4em;
    margin-bottom: 6px;
}


a {
    color: $urn-pink;

    &:hover,
    &:focus {
        color: darken($urn-pink, 10%);
    }
}
