

//
// These styles are shared with:
// WP Post editor,
// WP Post output &
// General typography (static content)
//

h1 {
    font-size: 1.5em;
    font-weight: 600;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}


em {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}


p {
    line-height: 1.4em;
    margin-bottom: 6px;
}
