

//
// These styles are shared with:
// WP Post editor,
// WP Post output &
// General typography (static content)
//

h1 {
    font-size: 1.5em;
    font-weight: 600;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}


em {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}


//
// Alignment
//
.alignleft {
    float: left;
    margin: $general-element-spacing 28px 28px 0;
    text-align: left;
}

.alignright {
    float: right;
    margin: $general-element-spacing 0 28px 28px;
    text-align: right;
}

.aligncenter {
    clear: both;
    display: block;
    margin: $general-element-spacing auto;
    text-align: center;
}

// Set photos to be full width when they get larger than the wrapper
img {
    &.size-large,
    &.size-full {
        height: 100%;
        width: 100%;
    }
}

//
// Responsive 2 column Gallery
//
.gallery-columns-2.gallery-size-large {
    padding-bottom: $general-element-spacing;

    .gallery-item {
        width: 50% !important;

        img {
            height: 50%;
            width: 100%;
        }
    }
}

p {
    line-height: 1.4em;
    margin-bottom: 6px;
}
