

//
// These styles are shared with:
// WP Post editor,
// WP Post output &
// General typography (static content)
//

h1 {
    font-size: 2.25em;
    font-weight: 600;
}

h2 {
    font-size: 1.68em;
    font-weight: bold;
}

h3 {
    font-size: 1.4em;
    font-weight: bold;
}


em {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}


p {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 6px;
}

.entry-content {
    h1 {
        font-size: 2.25em;
    }

    h2 {
        font-size: 1.68em;
    }

    h3 {
        font-size: 1.4em;
    }

    p {
        font-size: 1.4em;
    }
}

p.wp-caption-text {
    font-size: 1em;
}
