
.audioboom-headlines {
    padding-bottom: $page-padding;
    width: 100%;

    h1 {
        text-align: center;
    }

    iframe {
        margin-top: $general-element-spacing;
    }
}

.blog-excerpt {

    li {
        padding-bottom: $general-element-spacing;
        padding-top: $general-element-spacing;
    }

    a {
        color: #222;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.btn-wrapper {
    padding: $general-element-spacing;
}
