
.audioboom-headlines {
    width: 100%;

    @include breakpoint(mobile) {
        padding-bottom: 0;
    }

    h1 {
        text-align: center;
        padding-bottom: $general-element-spacing;
    }

    iframe {
        margin-top: $general-element-spacing;
    }
}

.blog-excerpt {
    @include breakpoint(tablet) {
        padding: $general-element-spacing;
    }

    li {
        padding-bottom: #{$general-element-spacing * 2};
    }

    h1 a {
        color: #222;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.btn-wrapper {
    padding-bottom: #{$general-element-spacing * 2};
    padding-top: $general-element-spacing;
    text-align: center;
}
